body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
	background-color: #F7F7F7;
}
a {
	text-decoration: none;
	font-size: 1.1em;
	color: red;
}
a:hover {
	color: #333;
}
#logo {
	
	float: left;
	max-width: 7%;
	position: absolute;
	top: 0;
	z-index: 100;
	text-align: center;
	
}
#logo img {
	background-color: #ec462f;
	padding: 10px 15px;
	border-radius: 100%;
}
#logo>p {
	color: red;
	margin: 0;
}
nav {
	padding: 10px 2px;
	position: fixed;
	top: 15px;
	right: 20px;
	height: auto;
    z-index: 50;

}
nav a {
	background-color: red;
	color: white;
	padding:5px;
	margin:0 5px;
	border:1px solid red;
	border-radius: 5px;
}
#fa-bars {
	clear: both;
	display: none;
}
#dropMenu {
	clear: both;
	display: none;
}

.generalinfo {
	background-image: url(../instructions/background11.jpg);
	width: 100%;
	height: 800px;
	text-align: center;
	margin:0 auto;
	position: fixed;
	top: 0;
}
.generalinfo>p {
	font-size: 2em;
	margin: 0;
}
.maincontent {
	margin-top: 31%;
	background-color: #F7F7F7;
	position:relative;
	z-index: 1;
}
h2 {
	color: #aaaaaa;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 2.2em;
	/*border:1px solid #aaaaaa;
	border-radius: 5px;
	display: inline-block;*/
}
span {
	color: red;
}

.floatIcon {
	display: inline-block;
	height: auto;
	max-width: 120px;
	text-align: center;
	position: fixed;
	right: 20px;
	bottom: 0;
	z-index: 15
}
.floatIcon a {
	font-size: 1em;
	width: 160px;
}
#slider {
    /*width: 100%;*/
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-bottom: 50px;
    margin-top: 10px;
}
#slider ul {
	position: absolute;
}
#slider ul li {
    float: left;
    list-style: none;
    padding:0;
    margin: 0;
}

#hideAera {
	background-color: #F7F7F7;
	width: 10%;
	height: 350px;
	left: 45%;
	z-index: 6;
	position: absolute;
	opacity: 1;
}
#start {
	border: transparent;
	top: 15%;
	left: 25%;
	position:absolute;
	padding: 10px;
	color: #4443C9;
}
#stop {
	border: transparent;
	top: 60%;
	left: 25%;
	position:absolute;
	padding: 10px;
	color: yellow;
}
h3 {
	font-size: 2em;
}
.nosservices {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.service {
	margin: 20px 20px 10px;
	text-align: center;
}
.service img {
	border:1px solid #aaaaaa;
	border-radius: 100%;
	padding: 5px;
}
.service ul li {
	text-align: left;
}
form {
	margin-bottom: 50px;
	display: block;
}
input {
	padding: 10px 20px 20px 5px;
	margin:10px 5px;
	border-radius: 5px;
	display: block;
}
#send, #delete {
	cursor: pointer;
	padding: 5px;
	margin-top: 28px;
}
#send {
	background-color: #FA4032;
	color: white;
}
#delete {
	background-color: white;
	color: red;
}
#contactform {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
form {
	margin: 10px;
}
#googlemap {
	margin: 10px;
}
#googlemap button{
	margin-left: 5px;
}
#house {
	height: 200px;
	margin-bottom: 20px;
}
footer {
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FA4032;
	margin-bottom: 50px;
}
h5 {
	margin: 0 auto;
	font-size: 1em;
}




/* -------------pour phone et tablette------------ */
@media screen and (max-width: 768px){

	
	h2 {
		font-size: 1.5em;
		text-align: center;
		margin: 0 auto;
	}
	h3 {
		font-size: 1.2em;
	}
	a {
		font-size: 1.2em;
	}
	nav {
		display: none;
		/*position: absolute;*/
	}
	#fa-bars{
		display: inline-block;
		position: relative;
		z-index: 100;
		color:#FA4032;
		float: right;
		vertical-align:top;
	}
	#dropMenu {
		background-color: white;
		opacity: 0.9;
		display: hidden;
		position: absolute;
		z-index: 50;
		border: 1px solid #FA4032;
		border-radius: 5%;
	}
	#dropMenu ul {
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}
	#dropMenu ul li {
		list-style: none;
	}
	.generalinfo {
		background-image: url(../instructions/backgroundrespon.png);
		background-size: cover;
		width: 100%;
		height: 170px;
		position: absolute;
	}
	.floatIcon{
		display: none;
	}
	.nosservices {
		flex-direction: column;
	}
	.service {
		margin: 0 auto;
	}
	textarea {
		width: 100%;
	}

	#send, #delete {
		margin-top: 10px;
	}
	#delete {
		margin-bottom: 20px;
	}
	#contactform {
		flex-direction: column;
	}
	#house{
		display: none;
	}
}


