body {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	font-family: 'Maven Pro', sans-serif;
	font-size: 1.5em;
	color: red;
}
a:hover {
	color: #064579;
}
.generalinfo {
	height: 700px;
	background-image: url(../instructions/background10.jpg);
	background-size: cover;
	background-color: #ffffff;
	color: red;
	text-align: center;
	margin-bottom: 100px;
	opacity: 0.9;
}
h1 {
	font-size: 3.5em;
	margin-top: 0;
}
.generalinfo>img {
	margin: 100px auto 0;
}
.generalinfo>p {
	font-size: 2em;
	margin: 0;
}
nav {
	background-color: red;
	text-align: center;
	padding: 10px;
	position: fixed;
	z-index: 10;
	top: 0; /*stay on top*/
	height: auto; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */

}
nav a {
	padding: 40px;
	color: white;
}
/*.maincontent {
	background-color: white;
	position: relative;
	z-index: 2;
}*/

/*.nosservices {
	padding: 10px;
	margin-top: 20px;
	text-align: center;
}*/
.service {
	border:1px solid #aaaaaa;
	border-radius: 50%;
	width: 25%;
	padding: 70px 30px;
	margin: 25px;
	display: inline-block;
	font-family: 'Maven Pro', sans-serif;
	text-align: center;
}
.service ul li{
	text-align: left;
}
h3 {
	font-size: 2em;
}

.floatIcon {
	height: auto;
	width: 120px;
	text-align: center;
	position: fixed;
	right: 20px;
	bottom: 0;
	z-index: 15
}
.floatIcon a {
	font-size: 1em;
	width: 160px;
}


h2 {
	text-align: left;
	color: #aaaaaa;
}

#slider {
    /*width: 100%;*/
    height: 350px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#slider ul {
	position: absolute;
}
#slider ul li {
    float: left;
    list-style: none;
    padding:0;
    margin: 0;
}

#hideAera {
	/*background-image: url(../instructions/button4.jpg) ;
	background-size: cover;*/
	background-color: white;
	width: 10%;
	height: 350px;
	position: relative;
	left: 650px;
	z-index: 3;
	position: absolute;
	opacity: 1;
}
#start {
	border: transparent;
	top: 15%;
	left: 25%;
	position:absolute;
	padding: 10px;
	color: #aaaaaa;

}
#stop {
	border: transparent;
	top: 60%;
	left: 25%;
	position:absolute;
	padding: 10px;
	color: #162f42;

}

form {
	margin: 10px 40px 100px;
}
input {
	padding: 10px 20px 20px 5px;
	margin: 10px auto;
	border-radius: 5px;
}
button {
	padding: 10px 20px;
	border-radius: 5px;
	position: relative;
	z-index: 4;
	opacity: 0;
}






