body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
	background-color: #f7f7f7;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	font-size: 1.1em;
	color: #ff0505;
}
a:hover {
	color: #333;
}
#menu {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
#logo {
	display: flex;
	justify-content: space-between;
}
#generalinfo{
	margin-top: 4%;
}
#logo ul{
	list-style: none;
}
#logo img {
	width: 50%;
	height: 90%;
	padding-right:2%;
	margin-left:1%;
}
#logo p{
	text-align: left;
	color: black;
	padding:0;
	margin: 0;
}
nav {
	padding: 10px 2px;
	position: relative;
	height: auto;
}
nav a {
	background-color: #ff0505;
	color: white;
	padding:5px;
	margin:0 5px;
	border:1px solid #ff0505;
	border-radius: 5px;
}
#fa-bars {
	clear: both;
	display: none;
}
#dropMenu {
	clear: both;
	display: none;
}
#backgroundimg {
	background-image: url(../instructions/background.png);
	width: 100%;
	height: 650px;
	text-align: center;
	position: fixed;
}
.generalinfo>p {
	font-size: 2em;
	margin: 0;
}
.maincontent {
	margin-top: 27%;
	background-color: #F7F7F7;
	position:relative;
	z-index: 1;
	width:100%;
}
h2 {
	color: #aaaaaa;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 2.2em;
}
span {
	color: #ff0505;
}
.floatIcon {
	display: inline-block;
	height: auto;
	max-width: 120px;
	text-align: center;
	position: fixed;
	right: 20px;
	bottom: 0;
	z-index: 15
}
.floatIcon a {
	font-size: 1em;
	width: 160px;
}
#slider {
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-bottom: 50px;
    margin-top: 10px;
}
#slider ul {
	position: absolute;
}
#slider ul li {
    float: left;
    list-style: none;
    padding:0;
    margin: 0;
}
#hideAera {
	background-color: #F7F7F7;
	width: 10%;
	height: 350px;
	left: 45%;
	z-index: 6;
	position: absolute;
	opacity: 1;
}
#start {
	border: transparent;
	top: 15%;
	left: 25%;
	position:absolute;
	padding: 10px;
	color: #4443C9;
}
#stop {
	border: transparent;
	top: 60%;
	left: 25%;
	position:absolute;
	padding: 10px;
	color: yellow;
}
h3 {
	font-size: 2em;
}
.nosservices {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.service {
	margin: 20px 20px 10px;
	text-align: center;
}
.service img {
	border:1px solid #aaaaaa;
	border-radius: 100%;
	padding: 5px;
}
.service ul li {
	text-align: left;
}
form {
	margin-bottom: 50px;
	display: block;
}
input {
	padding: 10px 20px 10px 5px;
	margin:5px 5px;
	border-radius: 5px;
	display: block;
}
#send, #delete {
	cursor: pointer;
	padding: 5px;
	margin-top: 28px;
}
#send {
	background-color: #ff0505;
	color: white;
}
#delete {
	background-color: white;
	color: #ff0505;
}
#contactform {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
form {
	margin: 10px;
}
#googlemap {
	margin: 10px;
}
#googlemap button{
	margin-left: 5px;
}
h4 {
	font-weight: bold;
	margin: 0;
}
iframe {
	margin-top:10%;
	width: 400px;
	height: 300px;
	frameborder: 0;
	border: 0;
}
#house {
	height: 300px;
	margin-bottom: 20px;
}
footer {
	display: none
}






/* -------------pour phone et tablette------------ */
@media screen and (max-width: 768px){

	body{
		width: 95%;
		margin:0 auto;
	}
	h2 {
		font-size: 1.5em;
		text-align: center;
		margin: 0 auto;
	}
	h3 {
		font-size: 1.2em;
	}
	a {
		font-size: 1.2em;
	}
	#logo {
		display: flex;
		flex-direction: column;
	}
	#generalinfo{
		margin-top:2%;
	}
	#logo img{
		max-width: 30%;
		height: 100%;
	}
	nav {
		display: none;
	}
	#fa-bars{
		display: inline-block;
		position: relative;
		z-index: 100;
		color:#ff0505;
		float: right;
		line-height: 0;
	}
	#dropMenu {
		background-color: white;
		opacity: 0.9;
		display: none;
		position: relative;
		z-index: 1000;

		border-radius: 5px;
		float: right;
	}
	#dropMenu ul {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0;
		text-align: center;
	}
	#dropMenu ul li {
		list-style: none;
		font-weight: 300;
	}
	.floatIcon{
		display: none;
	}
	#backgroundimg {
		display: none;
	}
	.nosservices {
		flex-direction: column;
	}
	.service {
		margin: 0 auto;
	}
	textarea {
		width: 100%;
	}
	#send, #delete {
		margin-top: 10px;
	}
	#delete {
		margin-bottom: 20px;
	}
	#contactform {
		flex-direction: column;
	}
	iframe {
		width: 100%;
		height: auto;
	}
	#house{
		height: 10%;
	}
}


